<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button [routerLink]="'/'" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>Автор</strong>
    <small>12.09.2019</small>
  </div>
  <div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam
      aliquid deserunt distinctio dolores eius laudantium, molestiae numquam
      odio quidem ratione ut? Asperiores aspernatur assumenda beatae eligendi
      eum iure minus, optio quaerat quas quidem, quo, rem sed sequi sit
      suscipit! Blanditiis dolor ea in iure libero optio perferendis possimus
      reiciendis.
    </p>
  </div>
</div>
